@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


.App {
  font-family: Montserrat, serif;
  color: #282c34;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
